.image-wrapper {
    text-align: center;
}

.image-wrapper .thumbnail {
    display: inline-block;
}

.pizza-title {
    min-height: 36px;
    max-height: 36px;
    overflow: hidden;
}

.menu {
    list-style-type: none;
    overflow: auto;
}

.menu li {
    float: left;
    padding: 2px;
}

.center-div {
    display: flex;
    padding-top: 5%;
    flex-direction: column;
}

.form-register,
.form-login {
    width: 50%;
    margin: 0 auto;
}

.form-register ul,
.form-login ul {
    list-style-type: none;
}

.messages .alert {
    padding: 5px;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

.user-logged-out .logged-in,
.user-logged-in .logged-out {
    display: none;
}

.pizza-description {
    text-align: justify;
}

.icon {
    max-width: 50px;
    max-height: 100px;
}

.book-rating {
    margin-top: 50px;
}

form {
    padding: 0.5em;
}

#admin-table td {
    text-align: center;

}

#admin-table th {
    text-align: center;
}

.pizza-box {
    min-height: 400px;
    background-color: antiquewhite;
    padding: 0.5em;
    margin: 0.5em;
    max-height: 400px;
    height: 400px;
}

.img-thumbnail {
    max-height: 200px;
    height: 200px;
    width: auto;
    max-width: 200px;
}

#admin-header {
    background-color: #eeeeee;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.border-image{
    background-color: black;
}

.image-individual {
    width: 768px;
    height: 500px;
    border-radius: 50%;
    border-color: black;
}

.add-btn {
    float: right;
    margin-bottom: 30px;
}

.h-btn {
    float: left;
    margin-bottom: 30px;
}

.total-price {
    float: right;
    font-size: x-large;
    font-family: Comic Sans MS, sans-serif;
}

td{
    text-align: center;
}

th{
    text-align: center;
}

.recommendation{
    margin-top: 25px;
}

.text-center{
    text-align: center;
}

.title{
    font-family: Comic Sans MS, sans-serif;
    font-size: 80px;
    color: darkred;
    font-style: oblique;
    margin-bottom: 30px;
    text-align: center;
}

.price{
    font-family: Comic Sans MS, sans-serif;
    margin-bottom: 30px;
    font-size: 25px;

}

.describe{
    font-family: Comic Sans MS, sans-serif;
    margin-bottom: 30px;
    font-size: 20px;
}

.size{
    font-family: Comic Sans MS, sans-serif;
    margin-bottom: 30px;
    font-size: 18px;
}

.quantity{
    font-family: Comic Sans MS, sans-serif;
    margin-bottom: 30px;
    font-size: 18px;
}

.cos{
    text-align: center;
    margin-right: 50px;
}

.dist{
    margin-top: 50px;
    margin-bottom: 50px;
}

.adv {
    font-family: Comic Sans MS, sans-serif;
    color: red;
}